<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新規作成</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <h1>Flask Study Note - {{ title }}</h1>
  <form action="/register" method="post">
    <label>
      タイトル：<input type="text" name="title">
    </label>
    <p></p>
    <label>
      本文：<br>
      <textarea name="body" cols="50" rows="10"></textarea>
    </label>
    <p></p>
    <button type="submit">送信</button>
  </form>

  <p><a href="/">TOPに戻る</a></p>

  <footer>
    <p>○</p>
  </footer>
</body>
</html>
